<%- partial ('navbar.ejs') %>

<div class="container" id="admin-page">
  <div class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </div>
  <div class="main-content">
    <div class="panel panel-default">
      <div class="panel-heading panel-red"><i class="fa fa-file-text-o"></i> Invoice ID : <%= foundInvoice.invoice %></div>
      <div class="panel-body">
        <p>Created at: <strong><%= foundInvoice.createdAt %></strong></p>
        <p>Code to: <strong><%= foundInvoice.codeto %></strong></p>
        <hr>
        <div class="col-sm-6">
          <p>Intent: <strong><%= foundInvoice.intent %></strong></p>
          <p>State: <strong><%= foundInvoice.state %></strong></p>
        </div>
        <div class="col-sm-6">
          <p>Amount: <strong>$<%= foundInvoice.amount %></strong></p>
          <p>Status: <strong><%= foundInvoice.status %></strong></p>
        </div>
      </div>
      <div class="panel-footer">
        <table class="table">
          <thead>
          <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <% _.each(foundInvoice.items, function(item) { %>
          <tr>
            <td><%= item.sku %></td>
            <td><%= item.name %> Gift Card</td>
            <td><%= item.price %> USD</td>
          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
