<%- partial ('navbar.ejs') %>

<div class="container" id="admin-page">
  <div class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </div>
  <div class="main-content">

    <h3>Products
      <!--<a href="#" data-toggle="collapse" data-target="#add-new"><span class="pull-right"><i class="fa fa-plus-circle"></i> Add New</span></a>-->
    </h3>


    <div class="panel panel-default">
      <div class="panel-heading">List Product </div>
      <div class="panel-body table-responsive list-table" id="list-type">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="sr-only">ID</th>
            <th>Gift Card</th>
            <th>Gift Code</th>
            <th>Value</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Status</th>

          </tr>
          </thead>
          <tbody>
          <% _.each(foundProduct, function(product) { %>
          <tr>
            <td class="sr-only td-id"><%= product.id %></td>
            <td class="type-name"><%= product.cid.name %></td>
            <td class="type-name"><%= product.code %></td>
            <td class="type-name"><%= product.value %></td>
            <td class="type-name"><%= product.price %></td>
            <td class="type-name"><%= product.owner.name %></td>
            <td class="type-name"><%= product.status %></td>


          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<!--// Modal Del Type-->
<div class="modal fade" id="delTypeModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-remove fa-sm"></i> DELETE TYPE</h4>
      </div>
      <div class="modal-body">
        <p>Are you ready to delete this type ?</p>
        <form class="form-horizontal" id="del-type-form">
          <input type="text" class="sr-only" name="id" value="">
          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-danger"><i class="fa fa-remove fa-sm"></i> Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
