<%- partial ('navbar.ejs') %>

<div class="container" id="user-page">
  <div class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </div>
  <div class="main-content">

    <h3>Information Detail</h3>

    <!--<div class="well">-->
    <!--<p>Some text..</p>-->
    <!--</div>-->
    <div class="alert alert-success">
      <strong>Hi <%= req.session.user.name %>!</strong> Do you want to change your info details ?.
    </div>


      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item"><%= userdata.name %> <span class="pull-right"><i class="fa fa-tag"></i></span></li>
          <li class="list-group-item"><%= userdata.email %> <span class="pull-right"><i class="fa fa-envelope"></i></span></li>
          <li class="list-group-item"><%= userdata.group %> <span class="pull-right"><i class="fa fa-group"></i></span></li>
        </ul>
      </div>

    <div class="col-md-6">
      <a class="btn btn-warning" href="#">
        <i class="fa fa-trash-o fa-pencil"></i> Change Password</a>
    </div>



  </div>
</div>
