<%- partial ('navbar.ejs') %>
<div id="checkout-page">
  <div class="panel panel-info">
    <div class="panel-heading panel-green"><strong>Status:</strong> Create on <%= date %> by Example.com</div>
    <div class="panel-body">
      <div class="col-sm-6">
        <address>
          <strong>Your Company, Inc.</strong><br>
          1234 Address Street, City 999<br>
          San Francisco, CA 94103<br>
          <abbr title="Phone">Phone:</abbr> (123) 456-7890
        </address>
        <p>
          <strong>Send code to:</strong><br>
          <%= codeto %>
        </p>
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">

          <tbody>
          <tr>
            <td>Payment ID</td>
            <td><%= invoice %></td>

          </tr>
          <tr>
            <td>Invoice date</td>
            <td><%= date %></td>

          </tr>
          <tr>
            <td>State</td>
            <td><%= state %></td>
          </tr>
          <tr>
            <td>Status</td>
            <td><%= status %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
          <td><%= item.name %> Gift Card</td>
          <td><%= item.quantity %></td>
          <td><%= item.price %> USD</td>
        </tr>
        <% }) %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2">Total</td>
          <td><%= amount %> USD</td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="panel-footer">
      <button onclick="printMyPage()" type="button" class="btn btn-default"><i class="fa fa-print"></i> Print</button>

    </div>
  </div>





</div>
