<div class="sr-only se-pre-con"></div>
<div class="test-test"></div>
<div id="checkout-page">

  <div class="container">
    <div class="checkout-left col-sm-7">
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#" onclick="goBack()"><i class="fa fa-shopping-basket"></i> View cart</a></li>
        <li>Customer information</li>
      </ol>


      <form class="form-label form-css-label form-horizontal center-block" style="max-width:550px;">
        <div class="form-section customer-information">
          <div class="form-group">
            <label class="col-sm-12"><h4>Customer information <span class="pull-right" style="font-size:14px;">Already have an account?
                  <a data-toggle="modal" data-target="#loginModal" class="text-primary" href="#">Log in</a></span></h4> </label>
            <div class="col-sm-12">
              <fieldset>
              <input type="email" class="input-lg form-control" id="email">
                <label for="email">Email</label>
              </fieldset>
              <p>We will send gift code to this email</p>
            </div>
          </div>
        </div>

        <div class="payment-information">
          <h4>PAYMENT INFORMATION</h4>
          <div class="form-group">
            <div class="col-sm-12">
              <fieldset>
                <input type="text" class="input-lg form-control" id="cardnumber" maxlength="19">
                <label for="cardnumber">Card Number</label>
                <span class="cc-icon">
                  <img class="cc-visa" src="../images/creditcard/visa.png">
                  <img class="cc-mastercard" src="../images/creditcard/master.png">
                  <img class="cc-amex" src="../images/creditcard/amex.png">
                  <img class="cc-discover" src="../images/creditcard/discover.png">
                </span>
              </fieldset>
            </div>
          </div>
          <p class="text-right" style="color:#00BCD4"><i class="fa fa-lock"></i> Secure 128-bit SSL Encrypted</p>
          <div class="card-security">
            <div class="form-group">
              <div class="col-xs-6 input-left">
                <div class="input-group">
                  <span class="input-group-addon">EXPIRY MONTH</span>
                  <select id="select-month" class="form-control">
                    <option value="1">JANUARY</option>
                    <option value="2">FEBRUARY</option>
                    <option value="3">MARCH</option>
                    <option value="4">APRIL</option>
                    <option value="5">MAY</option>
                    <option value="6">JUNE</option>
                    <option value="7">JULY</option>
                    <option value="8">AUGUST</option>
                    <option value="9">SEPTEMBER</option>
                    <option value="10">OCTOBER</option>
                    <option value="11">NOVEMBER</option>
                    <option value="12">DECEMBER</option>

                  </select>
                  <span class="input-group-addon"><i class="fa fa-chevron-down fa-2x"></i></span>
                </div>
              </div>
              <div class="col-xs-6 input-right">
                <div class="input-group">
                    <span class="input-group-addon">EXPIRY YEAR</span>
                      <select id="select-year" class="form-control">
                        <% for (var i=2017;i<2031;i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                        <% } %>
                      </select>
                  <span class="input-group-addon"><i class="fa fa-chevron-down fa-2x"></i></span>
                </div>

              </div>
            </div>
          </div>
        </div><hr>

        <div class="form-section billing-address">
          <div class="form-group">
            <label class="col-xs-12"><h4>Billing address</h4></label>
            <div class="col-xs-6 input-left">
            <fieldset>
              <input type="text" class="input-lg form-control" id="firstname">
              <label for="firstname">First Name</label>
            </fieldset>
            </div>
            <div class="col-xs-6 input-right">
              <fieldset>
                <input type="text" class="input-lg form-control" id="lastname">
                <label for="lastname">Last name</label>
              </fieldset>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <fieldset>
              <input type="text" class="input-lg form-control" id="address">
                <label for="address">Address</label>
              </fieldset>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-7 col-xs-6 input-left">
              <fieldset>
              <input type="text" class="input-lg form-control" id="city">
              <label for="city">City</label>
              </fieldset>
            </div>
            <div class="col-sm-5 col-xs-6 input-right" style="padding-left: 4px;">
              <fieldset>
                <input type="text" class="input-lg form-control" id="state">
                <label for="state">State</label>
              </fieldset>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-6 input-left">
              <fieldset>
              <input type="text" class="input-lg form-control" id="country">
              <label for="country">Country</label>
              </fieldset>
            </div>
            <div class="col-xs-6 input-right">
              <fieldset>
              <input type="text" class="input-lg form-control" id="postalcode">
              <label for="postalcode">Postal code</label>
              </fieldset>
            </div>
          </div>
        </div>


      <div class="checkout-button">
        <div class="form-group">
          <div class="col-sm-12">
            <a onclick="goBack()" type="button" class="btn-lg btn btn-link"><i class="fa fa-angle-left"></i> Return to cart</a>
            <a type="submit" class="btn btn-lg btn-checkout-page">Confirm Order</a>
          </div>
        </div>
      </div>
      </form>


    </div>
    <div class="checkout-right col-sm-5">
      <div class="detail-content">
      <% _.each(foundCart, function(cart) { %>
      <!-- Left-aligned -->
      <div class="media">
        <span class="sr-only have-cart co-cart-pid"><%= cart.pid %></span>
        <div class="media-left">
          <img src="<%= cart.image %>" class="media-object img-rounded" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading co-cart-name"><%= cart.name %></h4>
          <p>$<%= cart.value %> - <%= cart.value %>% off</p>
        </div>
        <div class="media-right">
          <h4 class="co-cart-price">$<%= cart.price %></h4>
        </div>
      </div>
      <% }) %>
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td>Subtotal</td>
          <td class="calsum td-subtotal text-right"></td>
        </tr>
        <tr>
          <td>Tax</td>
          <td class="calsum td-tax text-right">$0.00</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td class="calsum td-shipping text-right">$0.00</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="tr-total">
          <td>Total</td>
          <td class="td-total text-right"></td>
        </tr>

        </tfoot>
      </table>
        <a href="#" type="button" class="next-process btn-checkout-paypal btn btn-lg"><i class="fa fa-paypal"></i> Paypal checkout</a>
    </div>
    </div>
  </div>


  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LOGIN FORM</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="input-lg form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="input-lg form-control" id="password">
          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-warning" data-dismiss="modal">Login</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!--<ul class="dropdown-menu">-->
  <!--<li><a href="#">January<span class="pull-right">1</span></a></li>-->
  <!--<li><a href="#">February<span class="pull-right">2</span></a></li>-->
  <!--<li><a href="#">March<span class="pull-right">3</span></a></li>-->
  <!--<li><a href="#">April<span class="pull-right">4</span></a></li>-->
  <!--<li><a href="#">May<span class="pull-right">5</span></a></li>-->
  <!--<li><a href="#">June<span class="pull-right">6</span></a></li>-->
  <!--<li><a href="#">July<span class="pull-right">7</span></a></li>-->
  <!--<li><a href="#">August<span class="pull-right">8</span></a></li>-->
  <!--<li><a href="#">September<span class="pull-right">9</span></a></li>-->
  <!--<li><a href="#">October<span class="pull-right">10</span></a></li>-->
  <!--<li><a href="#">November<span class="pull-right">11</span></a></li>-->
  <!--<li><a href="#">December<span class="pull-right">12</span></a></li>-->
<!--</ul>-->
