<%- partial ('../common/navbar.ejs') %>
<div id="cart-page">
  <% if (req.session.user_id) { %>
  <div class="find-email alert alert-success">
    <strong>Notice!</strong> We'll send gift card code to email <span class="set-email"><%= req.session.user.email %></span>.
  </div>
  <% } else { %>
  <div class="find-email alert alert-warning">
    <strong>Warning!</strong> Please provide and email address for sending code to.<a href="#" data-toggle="modal" data-target="#setEmailModal"> [Click Here]</a><span class="sr-only set-email">no-email</span>.
  </div>
  <!-- Modal -->
  <div class="modal fade" id="setEmailModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter Your Email</h4>
        </div>
        <div class="modal-body">
          <input type="email" class="form-control input-lg" id="enter-email">
        </div>
        <div class="modal-footer">
          <button type="button" class="enter-email btn btn-primary">Enter Email</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>
<div class="panel panel-success">
  <div class="panel-heading"><i class="fa fa-shopping-cart fa-lg"></i> Your shopping cart</div>
  <div class="panel-body">
    <table class="table table-responsive table-hover">
      <thead>
      <tr>
        <th class="sr-only">ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
        <th>% Off</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% _.each(foundCart, function(cart) { %>
      <tr class="tr-cart" id="cart-<%= cart.id %>">
        <td class="product-id sr-only"><%= cart.id %></td>
        <td class="card-img col-md-1 hidden-xs"><img style="max-width:80px" src="<%= cart.image %>"></td>
        <td class="card-name"><%= cart.name %></td>

        <td class="card-type"><%= cart.type %></td>
        <td class="product-value">$<%= cart.value %></td>
        <td class="product-save col-md-3"><%= cart.save %>%</td>
        <td class="product-price">$<%= cart.price %></td>
        <td class="col-md-1">
          <a class="remove-item btn btn-danger" href="#">
            <i class="fa fa-trash-o fa-lg"></i> Remove</a>
          <a class="sr-only reloading btn btn-warning" href="#">
          <i class="fa fa-spinner fa-pulse"></i> Removing...</a>

        </td>
      </tr>
      <% }) %>
      </tbody>
    </table><hr>
    <div class="total panel-body">TOTAL: <strong></strong></div>
  </div>

  <div class="panel-footer">
    <button onclick="goBack()" type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Continue Shopping</button>
    <a href="#" type="button" class="next-process btn btn-success"><i class="fa fa-share-square-o"></i><i class="sr-only fa fa-spinner fa-pulse"></i> Next Process</a>

  </div>
</div>
</div>
