<div class="sr-only se-pre-con"></div>
<%- partial ('../common/navbar.ejs') %>
<div id="cart-page">
  <ol class="breadcrumb">
    <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#" onclick="goBack()"><i class="fa fa-shopping-cart"></i> Continue Shopping</a></li>

  </ol>
  <% if (req.session.user_id) { %>
  <div class="find-email alert alert-success sr-only">
    <strong>Notice!</strong> We'll send gift card code to email <span class="set-email"><%= req.session.user.email %></span>.
  </div>
  <% } else { %>
  <div class="find-email alert alert-warning" style="margin:15px">
    <strong>Warning!</strong> Please Log in your account before checkout for sending code to.<a href="/login"> [Log in]</a><span class="sr-only set-email">no-email</span>.
  </div>
  <!-- Modal -->
  <div class="modal fade" id="setEmailModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header panel-red">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">WARNING!</h4>
        </div>
        <div class="modal-body">
          <p>Please Log in your account before checkout for sending code to.</p>
          <!--<input type="email" class="form-control input-lg" id="enter-email">-->
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="enter-email btn btn-primary">Enter Email</button>-->
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <div class="container">
    <div class="col-sm-8 col-xs-12 cart-detail-side">
      <h2>Your Cart <span style="font-weight:100;"></span></h2>
      <% _.each(foundCart, function(cart) { %>
      <div class="row view-cart-item" id="cart-item-<%= cart.id %>">
        <div class="col-xs-3 "><img style="max-width:100px" src="<%= cart.image %>"></div>
        <div class="col-xs-6">
          <span class="sr-only cart-pid"><%= cart.pid %></span>
          <h4><span class="cart-name"></span><%= cart.name %><span class="cart-type"> (<%= cart.type %>)</span></h4>
          <h5>Delivery</h5>
          <p>Delivered directly to your account and email within 12 hour.
            In many instances, you can also print out e-gift cards and redeem them in-store.
            (Please contact your local retailer for more information).</p>
        </div>
        <div class="col-xs-3 text-right">
          <h3 class="cart-item-price">$<%= cart.price %></h3>
          <span>Value at <strong>$<%= cart.value %></strong></span>
          <p><a class="remove-item btn btn-danger" href="#">Remove <span class="sr-only remove-item-id"><%= cart.id %></span></a></p>
        </div>
      </div>
      <% }) %>
    </div>

    <div class="col-sm-3 col-xs-12 summary-side pull-right" style="border:1px solid #ccc">
      <h3>Summary</h3>
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td>Subtotal</td>
          <td class="calsum td-total text-right"></td>
        </tr>
        <tr>
          <td>Tax</td>
          <td class="calsum text-right">$0.00</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td class="calsum text-right">$0.00</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="tr-total">
          <td>Total</td>
          <td class="td-total text-right"></td>
        </tr>
        <tr class="tr-saving">
          <td>Your savings</td>
          <td class="td-saving text-right"></td>
        </tr>
        </tfoot>
      </table>
      <a href="/cart/checkout?sid=<%- req.query.sid %>" type="button" class="proceed-checkout btn-checkout btn btn-lg">Proceed to checkout</a>
      <a href="#" type="button" class="next-process btn-checkout-paypal btn btn-lg">Checkout with Paypal</a>

    </div>
  </div>


</div>
