<nav class="navbar navbar-fixed-top navbar-default" style="line-height:75px;" id="buy-giftcard-page">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand glyphicon glyphicon-heart" href="/home"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <form class="navbar-form navbar-left" style="margin-top:0">
        <div class="form-group">
          <input type="text" class="search-input input-lg form-control" placeholder="Live search by brand">
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li><a href="#">I'M BUYER</a></li>
        <li><a href="#">I'M SELLER</a></li>
      </ul>
      <% if(!req.session.user_id){ %>
      <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
        <li><a href="/register"><span class="fa fa-user-plus"></span> SIGN UP</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOG IN</a></li>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
          <i class="fa fa-shopping-cart"></i><% if (foundCart) { %><span class="total-cart badge" style="position:absolute;top:15px;"><%= foundCart.length %></span><% } %>
        </a>
      </ul>
      <% } else { %>
      <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
        <div class="btn-group">
          <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> <%= req.session.user.name %></a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </a>
          <ul class="dropdown-menu">
            <% if(req.session.user.group == 'Admin'){ %>
            <li><a href="/admin"><i class="fa fa-pencil fa-fw"></i> Admin Panel</a></li>
            <% } %>
            <li><a href="/user"><i class="fa fa-trash-o fa-fw"></i> Member Panel</a></li>

            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-unlock"></i> Logout</a></li>
          </ul>
        </div>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
          <i class="fa fa-shopping-cart"></i><% if (foundCart) { %><span class="total-cart badge" style="position:absolute;top:15px;"><%= foundCart.length %></span><% } %>
        </a>
      </ul>
      <% } %>
    </div>
  </div>
</nav>


<div class="container-fluid" id="giftcard-view">

  <div class="hidden-xs hidden-sm col-md-3">
  <div class="left-view">
    <img class="img-responsive" src="<%= foundCard.thumbnail %>" alt="<%= foundCard.name %>">
    <h5>How one to sell?</h5>
    <p><a href="#"><%= foundCard.name %> gift cards</a> </p>
    <hr>
    <h5>The Example Guarantee</h5>
    <p>Gift cards on our marketplace are provided by verified sellers. All orders are covered by our 100 Day Money-Back Guarantee.</p>
    <hr>
    <h5>Gift Card Icon Legend</h5>
    <p><span>Egift</span> eGiftcards can be redeemed online only. Most are delivered to your Raise account instantly, but please allow up to 24 hours.</p>
    <p><span>Physical</span> Physical gift cards can be redeemed in store. They are delivered by USPS to your shipping address in 3-14 business days.</p>
    <hr>
    <h5>Free Shipping</h5>
    <p>All gift cards are delivered for free. Delivery times may vary for multiple gift cards in one order depending on the type of card and the seller.</p>
  </div>
  </div>
  <div class="col-sm-12 col-md-9 col-xs-12">
    <h3>Buy Gift Cards</h3>
    <div class="panel panel-default">

      <div class="panel-body list-table" id="list-card">
        <table class="table table-responsive table-hover">
          <thead>
          <tr>
            <th class="sr-only">ID</th>
            <th class="sr-only">Name</th>
            <th class="hidden-xs"></th>
            <th class="col-md-3 text-center" colspan="1">Type</th>
            <th>Value</th>
            <th>% Off</th>
            <th>Price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% _.each(foundCard.products, function(product) { %>
          <tr class="tr-product" id="product-<%= product.id %>">
            <td class="sr-only td-id"><%= product.id %></td>
            <td class="sr-only card-name"><%= foundCard.name %></td>
            <td class="card-img col-md-1 hidden-xs"><img src="<%= foundCard.thumbnail %>"></td>
            <td class="card-type"><%= foundCard.type.name %></td>
            <td class="product-value">$<%= product.value %></td>
            <td class="product-save col-md-3"><%= product.save %>%</td>
            <td class="product-price">$<%= product.price %>
              <span style="float:left;width:100%" class="product-detail"><a data-toggle="collapse" data-target="#detail-<%= product.id %>" href="#">+Detail</a></span>
            </td>
            <td class="col-md-1">
              <a class="add-to-cart btn btn-success" href="#">
                <i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a>
            </td>
          </tr>
          <tr class="collapse" id="detail-<%= product.id %>">
            <td class="giftcard-detail" colspan="7"><%= foundCard.detail %></td>
          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="cartModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-shopping-bag"></i> Shopping Cart</h4>
      </div>
      <div class="modal-body">
        <% if(foundCart.length > 0) { %>
        <% _.each(foundCart, function(cart) { %>
        <!-- Left-aligned -->
        <div class="media">
          <span class="sr-only have-cart"><%= cart.pid %></span>
          <div class="media-left">
            <img src="<%= cart.image %>" class="media-object" style="width:80px">
          </div>
          <div class="media-body">
            <h5 class="media-heading"><%= cart.name %></h5>
            <p><span class="badge"><%= cart.type %></span></p>
          </div>
          <div class="media-right">
            <h5>$<%= cart.price %></h5>
          </div>
        </div>
        <% }) %>
        <% } else { %>
        <p class="no-item">No gift card</p>
        <% } %>


      </div>
      <div class="modal-footer">
        <% if(foundCart.length > 0) { %>
        <a href="/cart/view?sid=<%= foundCart[0].sid %>" type="button" class="view-cart btn btn-success">View Cart Detail</a>
        <% } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
